<mat-card>
  <mat-card-header>
    <img mat-card-avatar *ngIf="launch.links.mission_patch_small" src="{{launch.links.mission_patch_small"/>
    <img mat-card-avatar *ngIf="!launch.links.mission_patch_small" src="../../assets/generic_patch.png"/>
    <mat-card-title>{{launch.mission_name}}</mat-card-title>
    <mat-card-subtitle>{{launch.launch_date_utc | date: 'yyyy-mm-dd HH:mm'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{launch.details}}
    </p>
  </mat-card-content>
</mat-card>
